/* 
* Googel Fonts: https://fonts.google.com/specimen/Montserrat?query=Montserrat
* font-family: Montserrat
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* 
* Global elements
*/
* {
    box-sizing: border-box;
    margin: auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    color: #24282f;
    height: 100%;
}

img{
    width: 100%;
    height: auto;
}

h3{
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
}

a {
    text-decoration: none;
    color: red;
}
/*
* Nav
*/
.openNav {display: none;}

.navbar {
    float: right;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.sideNavCloseButton {display: none;}

.mdSideNav {
    background-color: #9595959c;
    text-decoration: none;
    height: 65px;
    padding-top: 10px;
    padding-right: 15px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 99999;
}
/*
* Heder Logo / Home btn
*/
#logo {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 50%;
    padding: 10px;
    z-index: 9999999;
}

.img-logo {
    width: 50px;
    height: 50px;
}
/* 
* Footer
*/
#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    position: relative;
    background: #959595;
    color: #fff;
    padding: 6.5rem 0px;
    width: 100%;
    top: 115px;
}

/*
* Basic block 
*/

.container {
    width: 45%;
    padding-top: 65px;
}

.contact-grid {
    margin: 28px 4px;
    max-width: 100%;
    position: relative;
}

.post-grid {
    max-width: 100%;
    position: relative;
}

.magin-grid-noen {margin: 0;}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 30px;
    max-width: 950px;
}

.post-results {display: flex;}

.content-box {margin-top: 100px;}

.post-details {
    margin: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 25px 19px -10px rgb(179 179 173 / 89%);
    border-radius: 0px 0px 5px 5px;
}
.post-details-page{
    margin: 5px;
    padding-bottom: 5px;
}
.content-wrapper {width: 100%;}

.contact-container {display: flex;}

/*
* WP Block
*/
.wp-block-cover__image-background {
    width: 100%;
    height: 50%;
}
.wp-block-column {
    width: 50%;
}
.wp-block-button__link a, 
.cta-container a {
    color: #fff;
    color: #fff;
    font-size: 1rem;
    background-color: #f00;
    padding: 16px 30px 16px 30px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

/*
* Error
*/

.error {padding-top: 80px;}

.error-info {color: red;}

/*
* Post slider
*/
.content {display: flex;}

.carousel-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

#prevBtn,
#nextBtn {
    padding: 10px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    font-size: 25px;
    cursor: pointer;
    z-index: 9999;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #fff;
}

#nextBtn:hover,
#prevBtn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #f00;
}

#prevBtn {
    left: 0;
}

#nextBtn {
    right: 0;
}

/*
* Bonner "Landing page"
*/

.banner-img-background {position: relative;}

/*
* Post img thumbnai zoom
*/

.alert_block .alert_block_overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999999999;
    display: none;
}

.alert_block .alert_block_content {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    height: auto;
    z-index: 9999999999;
    color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    width: 70%;
    padding-top: 10px;
}

.alert_block.active .alert_block_overlay {
    display: block;
    cursor: pointer;
}

.alert_block.active .alert_block_content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.block_1,
.alert {
    grid-area: block_1;
}

.scope {
    padding: 25px 25px;
}

.post-img-thumbnai {
    width: 250px;
    height: 250px;
    transition: transform .2s;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    box-shadow: 0px 20px 30px -19px rgb(168 173 155 / 92%);
    border-radius: 10px 10px 0px 0px;
}

.post-img-thumbnai-zoom {
    width: 100%;
    height: 100%;
}
.alert {
    width: 100%;
    cursor: pointer;
}
/*
*Form
*/
.contact-container-form {
    display: flex;
}
.button {
    background-color: #5c4;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25rem;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

input[type=submit] {
    width: 100%;
    background-color: #5c4;
    border: none;
    border-radius: 5px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    color: #fff;
}

.form-container {
    padding-top: 10px;
    margin-bottom: -19rem;
}

.form-passed {
    padding-top: 10px;
    margin-bottom: 15rem;
    color: red;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: dotted #000;
    padding: 10px;
}

input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: dotted #000;

}

.success-message-conteiner {
    padding: 12px 20px;
}

.success-message-text {
    text-align: center;
}

.form-error {
    display: flex;
    margin: 10px;
}

.form-error-info {
    color: red;
    font-size: 12px;
}

/*
*Lodder
*/
.lodder-container {
    text-align: center;
}

.lodder-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lodder-roller div {
    animation: lodder-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lodder-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #959595;
    margin: -4px 0 0 -4px;
}

.lodder-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lodder-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.lodder-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lodder-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.lodder-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lodder-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.lodder-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lodder-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.lodder-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lodder-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.lodder-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lodder-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.lodder-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lodder-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.lodder-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lodder-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes lodder-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*
* Basic WP wrapper elements 
*/

.img-box-text {display: flex;}

.text-center {
    text-align: center;
    width: 50%;
}

.p-text-box {
    line-height: 1.5rem;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}
.text-box {
    padding: 15px;
    color: #fff;
}
.contact-text-box {
    word-break: break-word;
    font-size: 1em;
}
.ladding-text-box {
    padding: 25px;
}
.entry-date{
    text-align: center;
    padding: 5px;
    margin-top: 0;
    font-size: small;
    color: #808080;
    font-style: italic;
}
/*
* CTA Bottum 
*/

.btn-column {
    display: flex;
}

.cta-blogg {
    position: absolute;
    top: 25%;
}

.cta-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top: 25%;
}

button{
    display: flex;
}

.pots-btn-read-more {
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
}
.pots-btn-box {
    display: flex;
    padding-top: 15px;
}

.adding{
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    text-align: center; 
    border: none;
    cursor: pointer;  
    font-size: 1em; 
}

/* 
* @MEDIA
*/

@media (max-width: 768px) {

    .header {
        display: none;
    }

    .mdSideNav.openSideNav {
        width: 100%;
    }

    .mdSideNav.closeSideNav {
        width: 0;
    }

    .openNav {
        font-size: 30px;
        cursor: pointer;
        display: block;
        padding-left: 10px;
        overflow: hidden;
        position: fixed;
        z-index: 999999999;
    }


    .mdSideNav {
        justify-content: inherit;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 999999999;
        top: 0;
        left: 0;
        background-color: #ffffffd9;
        overflow-x: hidden;
        transition: width 0.5s;
        padding-top: 250px;
        padding-right: 0px;
    }

    .mdSideNav a {
        display: grid;
        padding: 0px 35px 0px 64px;
        text-decoration: none;
        font-size: 30px;
        color: #000;
        transition: width 0.3s;
        margin: 10px;
        z-index: 99999999999999;
    }

    .mdSideNav a:hover {
        color: red;
    }

    .mdSideNav .sideNavCloseButton {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: #000000;
    }

    .sideNavCloseButton a {
        text-decoration: none;
    }

    .topnav {
        display: flex;
    }

    #logo {
        width: 100%;
        text-align: right;
    }

    .boxtest {
        display: grid;
    }

    .img-box-text {
        display: block;
    }

    .text-box {
        width: 225px;
        overflow-wrap: break-word;
    }

    .wp-block-cover__image-background {
        height: auto;
    }

    .container {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        width: 100%;
    }
    .contact-container {
        display: block;
    }
    
    .text-box {
        display: none;
    }
    .wp-block-column{
        width: 100%;
    }
    .wp-block-button {
        display: flex;
    }
    .cta-blogg {
        left: 50%;
        transform: translateX(-50%);
    }
    .content-box {
        padding: 10px;
    }
    .contact-text-box {
        word-break: break-word;
        font-size: 1em;
    }
}